:root {/*Variaveis css*/
    --vermelho: #E50914;
    --preta: #141414;
}

* {/*Resetando estilo padrão css*/
    margin: 0;/*Margem dos elementos*/
    padding: 0;/*Espaçamento entre elementos*/    
    box-sizing: border-box;/*Elementos de internos são forçados a ter o tamanho da box*/
}

/*Elementos Base*/
body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
}

header .container {
    display: flex; /*Flexbox - alinhar os elementos em tela*/
    flex-direction: row;/*Alinhado por linha de forma padrão no display flex*/
    align-items: center; /*Alinhamento vertical*/
    justify-content: space-between; /*Alinhamento horizontal */
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
}

header nav a {
    text-decoration: none; /*retirando sublinhado*/
    color: #aaaaaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #ffffff;
}

/*Filme Principal*/
.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%) , url("/Projetos/Netflix/img/capa-house.jpg");

    height: 400px;
    background-size: cover; /*Cobre toda a box ajustando o tamanho*/

    display: flex;
    flex-direction: column;/*São invertidos dependendo do parametro do flex-direction*/
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 40px;
}

.titulo {
    font-size: 40px;
}